/* ==========================================
   STEVCODE UNIVERSITY DESIGN SYSTEM
========================================== */

:root {

    /* ========= COLORS ========= */

     --primary-color: #2563eb;
       --primary-dark: #1d4ed8;

       --success-color: #22c55e;
       --warning-color: #f59e0b;
       --danger-color: #ef4444;

       --background-color: #f5f7fb;
       --card-background: #ffffff;
      --sidebar-background: var(--primary-color);
        --background-color: #f4f6f9;

       --text-primary: #1f2937;
       --text-secondary: #64748b;

       --border-color: #e5e7eb;

    /* ========= FONT ========= */

    --font-family: 'Poppins', sans-serif;

    /* ========= FONT SIZE ========= */

    --fs-title: 2.2rem;
    --fs-heading: 1.7rem;
    --fs-subheading: 1.2rem;
    --fs-body: 1rem;
    --fs-small: .9rem;

    /* ========= FONT WEIGHT ========= */

    --fw-light:300;
    --fw-normal:400;
    --fw-medium:500;
    --fw-semibold:600;
    --fw-bold:700;

    /* ========= SPACING ========= */

    --space-xs:8px;
    --space-sm:12px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:48px;
    --space-3xl:64px;

    /* ========= BORDER RADIUS ========= */

    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:18px;
    --radius-xl:24px;

    /* ========= SHADOW ========= */

    --shadow-sm: 0 2px 8px rgba(0,0,0,.05);
       --shadow-md: 0 10px 30px rgba(0,0,0,.08);
       --shadow-lg: 0 20px 45px rgba(0,0,0,.12);

    /* ========= TRANSITIONS ========= */

    --transition:.3s ease;

        /* Success */
        --success-light: #dcfce7;

        /* Warning */
        --warning-light: #fef3c7;

        /* Danger */
        --danger-light: #fee2e2;

        /* Info */
        --info-color: #0ea5e9;
        --info-light: #e0f2fe;




}
body.dark-mode {

    --background-color: #0f172a;
    --card-background: #1e293b;
    --sidebar-background: #020617;

    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;

    --border-color: #334155;

    --shadow-sm: 0 2px 8px rgba(0,0,0,.25);

       --shadow-md: 0 10px 30px rgba(0,0,0,.4);

       --shadow-lg: 0 20px 45px rgba(0,0,0,.55);

}